.searchBox{
    position: relative;
    margin: 2rem 5rem;
    padding: 2rem;
    box-shadow: 0px 0px 22px 4px rgba(255, 32, 32, 0.25);

    input[type=text]{
        all: unset;
        width: 100%;
        border: 1.8px solid #E3E3E3;
        padding: 0.5rem 0.25rem;
        font-size: 18px;
        border-radius: 2px;
        margin-bottom: 2rem;
    }

    .filter{
        position: absolute;
        // top: 2rem;
        right: 2rem;
        bottom: 1rem;
    }
}

.jobList{
    // overflow-y: scroll;

    .singleJob{
        list-style: none;
        display: flex;
        margin: 2rem 5rem;
        padding: 2rem;
        box-shadow: 0px 0px 22px 4px rgba(255, 32, 32, 0.25);
        .left{
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 1rem;

            img{
                width: 50px;
            }
            
            .locationType{
                display: flex;
                gap: 1rem;
                color: #ED5353;
                font-size: 1rem;
                text-transform: capitalize;
            }
        }
        .right{
            width: 40%;
            text-align: right;
            .skills{
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;

                .skill{
                    // width: 6rem;
                    text-transform: capitalize;
                    text-align: center;
                    padding: 5px 10px;
                    background-color: #FFEEEE;
                }
            }
        }
    }

    
}

button{
    all: unset;
    padding: 5px 10px;
    background-color: #ED5353;
    color: #ffffff;
    cursor: pointer;
    margin-top: 5px;
    border: 'none';
    border-radius: 5px;
}

.inactive{
    border: 1px solid #ED5353;
    background-color: transparent;
    color: #ED5353,
}

::-webkit-scrollbar {
    width: 10px;
}

/* ::-webkit-scrollbar-track{
    background: transparent;
} */

::-webkit-scrollbar-thumb {
    background: #FFE6A6;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffd975
}