nav{
    position: relative;
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #ED5353;
        color: #FFFFFF;
        padding: 2.5rem 4rem;
        border-radius: 0 0 2.5rem 3rem;

        h1{
            font-size: 3rem;
        }
        .buttons{
            z-index: 999;
            text-align: center;

            .login{
                all: unset;
                cursor: pointer;
                border: 2px solid #FFFFFF;
                padding: 5px 10px;
                border-radius: 5px;
                width: 5rem;
            }
            .register{
                all: unset;
                cursor: pointer;
                background: #FFFFFF;
                color: #ED5353;
                padding: 5px 10px;
                border-radius: 5px;
                margin-left: 1rem;
                width: 5rem;
            }
        }
    }
    img{
        position: absolute;
    }
    #rec1{   
        top: 80px;
    }

    #rec2{
        top: 0;
        margin-left: 30%;
    }

    #rec3{
        top: 0;
        right: 5rem;
    }
}
